*{
    background-color: #191d27;
}
.titleSection{
    font-family: "Montserrat";
    color: white;
    margin-top: 30px;
    white-space: nowrap;
}

#profilePic{
    border: solid white 1px;
    border-radius: 25px;
}

#introText{
    font-family: "Montserrat";
    line-height: 35px;
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.iconLink{
    max-width: 50px;
    margin: 20px;
}

.iconLink:hover{
    background-color: white;
    transition: 1s;
    border-radius: 20px;
    background-image: url(img/instaiconblack.png);
    max-width: 50px;
}

.iconLanguage{
    height: 50px;
    margin: 1px;
}

::-webkit-scrollbar{
    opacity: 1;
}

::-webkit-scrollbar-thumb{
    background-color: #31394D;
    border-radius: 15px;
}