@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto mono", monospace;
  color: white;
}

body{
  background-color: #171717;
}